body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 90%;
    min-width: 300px;
}

img{
    width: 100%;
}


/*Começa o header*/

#navegacao-menu, .navbar{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background: rgb(0, 0, 0);
    padding-right: 30px; 
    font-size: 18px;
}

#iconeLogo{
    padding-left: 50px;
    width: 10em;
    padding: 0;
}
#navbarBasicExample {
    background:#000;
}
#section4 a,  .propaganda a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    border-radius: 10px;
    padding:10px 15px;
    margin: 5px;
}

#navegacao-menu a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px 15px;
    margin: 5px;
}

.propaganda a:hover, #section4 a:hover{
    background-color:  rgb(15, 77, 21);
    color: #fff;
}

#navegacao-menu a:hover{
    background-color:  #fff;
    color: rgb(7, 116, 18);
}

/*Começa o main*/

/*PRIMEIRA SECTION*/
#primeirasection{
    background-color: rgb(177, 255, 177);
    padding-bottom: 400px;
}

#primeirasection figure{
    width: 100%;
    margin: 0;
}


/*SEGUNDA SECTION*/

#section2{
    
    justify-content: space-around;
}

#section2 .columns{
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    padding: 100px, 10px;
}

.propaganda{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin: 10px 5px;
    padding: 150px 30px;

}

.propaganda p{
    margin-bottom: 30px;
}

.icones-section2 img{
    justify-content: center;
    min-width: 50px;
    max-width: 80px;
}


/* TERCEIRA SECTION */

#section3{
    background-color: rgb(177, 255, 177);
    padding: 50px 10px;
    justify-content: space-around;
    text-align: center;
}

#section3 p{
    margin: 10px 30px;
}

.imagens-sec3{
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.propaganda1{
    margin: 20px;
}

.icones-section3 img{
    
    border-radius: 15px;
    width: 200px;
    min-width: 50px;
}

#section3 .imagens-sec3 .propaganda1 .subtitle{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

/*SECTION 4*/

#section4{
    align-content: center;
    justify-content: center;
    
    text-align: left;
    color: white;
    box-sizing: border-box;
}

#section4 h3{
    font-size: 22px;
}

#primSec4 ul, #segundSec4 ul, #segundSec4 p{
    margin: 30px;
}

#primSec4{
    background-color: rgb(201, 7, 88);
    padding: 50px;
}


#section4 .comlumns .column{
    display: grid;
    justify-content: center;
}

#segundSec4{
    background-color: rgb(56, 67, 78);
    padding: 50px;
    
}



/*footer*/

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    padding: 50px;
    text-align: center;
}



/*ALGO MAIS */


@media screen and (min-width: 900px){
    #section2, .imagens-sec3, #section4{
        display: flex;
    }
}

